@* @typeparam TItem *@

@if (filteredAutomobileData == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <HorsepowerFilter FilterDescription="Model" OnFilterApplied="HandleFilterApplied"></HorsepowerFilter>
    @* HMTL table leveraging Bootstrap CSS classes *@
    @* Leverages a Templated Blazor Components *@
    <table class="table table-hover">
        <thead>
            <tr>
                @TableHeader
            </tr>
        </thead>
        <tbody>
            @foreach (var auto in filteredAutomobileData)
            {
                @RowTemplate(auto)
            }
        </tbody>
    </table>
}