@using Microsoft.AspNetCore.Components.Forms;

<div class="row mt-4">
    <div class="col-xl-8 col-lg-10">
        <div class="card">
            <div class="card-body">
                <EditForm Model="@automobile" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInValidSubmit">
                    <DataAnnotationsValidator />
                    <Microsoft.AspNetCore.Components.Forms.ValidationSummary />

                    <CascadingValue Value="automobile">
                        <AutoGroup></AutoGroup>
                    </CascadingValue>

                    <div class="form-group row mt-3">
                        @if (automobile.Torque != null)
                        {
                            <div class="col-sm-6">
                                <label for="engineHorsepower">Engine Horsepower</label>
                                <InputNumber class="form-control" id="engineHorsepower" placeholder="Enter engine horsepower" @bind-Value=automobile.Torque.Horsepower @onclick="ClearForm"></InputNumber>
                            </div>
                            <div class="col-sm-6">
                                <label for="engineRPM">Engine RPM</label>
                                <InputNumber class="form-control" id="engineRPM" placeholder="Enter engine RPM" @bind-Value=automobile.Torque.EngineRPM @onclick="ClearForm"></InputNumber>
                            </div>
                        }
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                    <div class="form-group row mt-3">
                        @if (automobile.EngineAnalytics != null)
                        {
                            <div class="col-sm-6">
                                <label for="engineTorque">Engine Torque (ft lbs)</label>
                                <input type="text" class="form-control" id="engineTorque" @bind-value=automobile.EngineAnalytics.Torque>
                            </div>
                        }
                    </div>
                    <div class="alert @alertClass mt-3" role="alert">@statusMessage</div>
                </EditForm>
            </div>
        </div>
    </div>
</div>


    @* Adding code here is an anti-pattern *@
    @* No matter what Rocky says *@